---
layout: default
title: NLPLAB
--- 
<style>
	.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
 
.jg{font-family: 'Jeju Gothic', sans-serif;}
</style>

<h1 class="pageTitle">Notice</h1>
<div class="slider">
  <div><img class = "center" src="assets/img/2026/02_graduation.jpg" style="width:100%; height:auto; object-fit:contain;" title = "26년 2월: 봉근 박사과정, 상원 유민 석사과정 졸업"/></div>
  <div><img class = "center" src="assets/img/2025/11_emnlp.jpg" style="width:100%; height:auto; object-fit:contain;" title = "25년 11월: EMNLP 학회 발표"/></div>
  <div><img class = "center" src="assets/img/2025/08_grad.jpg" style="width:100%; height:auto; object-fit:contain;" title = "25년 8월: 현수, 성완 석사과정 졸업"/></div>
  <div><img class = "center" src="assets/img/2025/08_aiassociation.jpg" style="width:100%; height:auto; object-fit:contain;" title = "25년 8월: 평창 한국인공지능학회 참석"/></div>
  <div><img class = "center" src="assets/img/2025/07_acl_chs.jpg" style="width:100%; height:auto; object-fit:contain;" title = "25년 7월: ACL 학회 발표"/></div>
  <div><img class = "center" src="assets/img/2025/07_professor_award.jpg" style="width:100%; height:auto; object-fit:contain;" title = "25년 7월: 고영중 교수님 한국정보과학회 학술상 수상"/></div>
  <div><img class = "center" src="assets/img/2025/02_graduation_2.png" style="width:100%; height:auto; object-fit:contain;" title = "25년 2월: 지열, 현묵, 하은, 수영, 승민, 윤진, 근하 석사과정 졸업"/></div>
  <!-- <div><img class = "center" src="assets/img/2024/12_ksc.png" style="width:100%; height:auto; object-fit:contain;" title = "24년 12월:여수 KSC 학회 참석"/></div> -->
  <!-- <div><img class = "center" src="assets/img/2024/08_graduation.jpg" style="width:100%; height:auto; object-fit:contain;" title = "24년 8월:진영 선배 졸업"/></div>
	<div><img class = "center" src="assets/img/2024/02_graduation.jpg" style="width:100%; height:auto; object-fit:contain;" title = "24년 2월:영재, 홍희, 재아, 규리 선배 졸업"/></div> -->
</div>

<br>

<div class="slider">
  <div><img class = "center" src="assets/img/notice/News.png"/></div>
  <div><img class = "center" src="assets/img/notice/hired_1.png"/></div>
  <div><img class = "center" src="assets/img/notice/hired_2.png"/></div>
</div>

<br>

<!-- <div class="home" id="home">
  <h1 class="pageTitle">Site Map</h1>
  <ul class="posts noList">
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/AboutUs/Introduction/">About Us</a></h3>
	    <p class='jg'>클릭하시면 우리 연구실에 대한 소개를 보실 수 있습니다.
    </li>
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/Research/Fields/">Research</a></h3>
	    <p class='jg'>클릭하시면 우리 연구실에서 연구하는 활동을 보실 수 있습니다.</p>
    </li> 
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/Publications/JournalPapers/">Publications</a></h3>
	    <p class='jg'>클릭하시면 우리 연구실의 논문을 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/Members/">Members</a></h3>
      <p class='jg'>클릭하시면 우리 연구실의 구성원을 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/Demos/Natural_Language_Processing/">Demos</a></h3>
      <p class='jg'>클릭하시면 우리 연구실의 데모를 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://github.com/NLPlab-skku">GitHub</a></h3>
      <p class='jg'>클릭하시면 우리 연구실의 GitHub를 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://www.linkedin.com/company/skku-nlplab/posts/?feedView=all">LinkedIn</a></h3>
      <p class='jg'>클릭하시면 우리 연구실의 LinkedIn을 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://forms.gle/bdW4K2uYqvteRWfX7">Apply</a></h3>
      <p class='jg'>클릭하시면 구글폼을 통해 우리 연구실 지원서를 작성하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://islab631.github.io/Boards/notice/">Boards</a></h3>
	    <p>클릭하시면 연구실 게시판 페이지로 넘어갑니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://islab631.github.io/Courses/openingcourses/">Courses</a></h3>
	    <p>클릭하시면 교수님의 강의를 확인하실 수 있습니다.</p>
    </li>
    <li>
      <h3><a class="post-link" href="https://nlplab-skku.github.io/Software/languageanalysissoftware/">Software</a></h3>
	    <p>클릭하시면 저희 연구실 software 소개를 확인하실 수 있습니다.</p>
    </li>
    -->
	  <!-- {% for post in paginator.Board %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div> -->

</body>
