 <div class="header">
   <div class="container top-nav">
        {% if site.social.github %}
        <a href="{{ site.social.github }}" target="_blank">GitHub</a>
        {% endif %}
        
        {% if site.social.linkedin %}
        <a href="{{ site.social.linkedin }}" target="_blank">LinkedIn</a>
        {% endif %}

        {% if site.social.linkedin %}
        <a href="{{ site.social.apply }}" target="_blank">Apply</a>
        {% endif %}
    </div>
    <div class="container">
        <h1 class="logo">
        <img data-action="zoom" src='{{ "/assets/img/연구실 로고/nlp_logo5_white.png" }}' style="height: 1em;"/></img>
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        <!-- <nav class="nav-collapse">
            <ul class="noList">
                {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' %}{% assign current = 'current' %}{% endif %}
                <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li> 
                {% endfor %}
            </ul>
        </nav> -->
        <nav class="nav-collapse">
            <ul class="noList">
                {% for link in site.navigation %}
                    <li class="element ...">
                        <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                    </li> 
                {% endfor %}
                
                <li class="element mobile-only-link">
                    <a href="{{ site.social.github }}" target="_blank">GitHub</a>
                </li>
                <li class="element mobile-only-link">
                    <a href="{{ site.social.linkedin }}" target="_blank">LinkedIn</a>
                </li>
                <li class="element mobile-only-link">
                    <a href="{{ site.social.apply }}" target="_blank">Apply</a>
                </li>
            </ul>
        </nav>
    </div>
 </div><!-- end .header -->
